        body {
            background-color: blanchedalmond;
        }

        .card-producto {
            transition: 0.3s;
        }

        .card-producto:hover {
            transform: translateY(-3px);
        }

        .pedido-container {
            max-height: 500px;
            overflow-y: auto;
        }
